* {
  font-family: 'Fjalla One'; }

svg {
  height: 80vh; }

path {
  stroke: #CDC789;
  stroke-width:2;
  fill: transparent;
  transition: 0.5s;
  cursor: pointer; }
  path:hover {
    fill: #CDC789;
    transform: translate(-5px, -5px); }

    /* .chiayi_country{
      fill: #B99362;
    } */


